<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/vendor/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/vendor/skeleton.css' />

  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="node_modules/zone.js/dist/zone.js"></script>
  <script src="systemjs/dist/system.src.js"></script>
  <script src="hoey-scripts/systemjs.config.js"></script>
  <script>
    System.import('hoey-scripts/main.js').catch(function (err) { console.error(err); });
  </script>

  <script src="hoey-scripts/index.js"></script>

</head>

<body>
  <div class="header">
    Header
  </div>

  <div class="container">
    <h2>Custom video player</h2>
    <div class="row" >
      <div  class="video-entity six columns">
        <video id="media-player1">
          <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.mp4"></source>
          <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.ogv"></source>
          <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.webm"></source>
        </video>
      </div>
      <div  class="six columns">
        <div class="video-entity" >
          <video id="media-player2" >
            <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.mp4"></source>
            <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.ogv"></source>
            <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.webm"></source>
          </video>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <video id="media-player4" >
          <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.mp4"></source>
          <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.ogv"></source>
          <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.webm"></source>
        </video>
      </div>
    </div>

  </div>


  <!--<div>
    <my-app>Loading Content</my-app>
  </div>-->

</body>

</html>